<center>
<table class="wikitable" border="1" cellspacing="0" cellpadding="2" width="80%">
<tr style="background-color:#E9E9E9">
<th scope="col" width="2%">Ref
</th>
<th scope="col" width="35%">Relation
</th>
<th scope="col" width="43%">Bot report
</th>
</tr>

<% report.statuses.each do |status| %>
<%
  color = nil
  color = 'PaleGreen' if status.green?
  color = 'PaleGoldenrod' if status.get_issues(:WARNING).size > 0
  color = 'LightSalmon' if status.get_issues(:ERROR).size > 0
%>
<% if color %>
<tr style="background-color:<%= color %>">
<% else %>
<tr>
<% end %>
<td style="text-align: center">
{{<%= country %>-<%= status.road.ref_prefix %>|<%= status.road.ref_number %>}}
</td>
<td>
<% if status.road.relation %>{{relation|<%= status.road.relation.id %>}}<br>
<% if status.road.relation.tags['note'] %><div style="color: #666666; font-size: smaller;"><b>Note:</b> <%= status.road.relation.tags['note'] %></div><% end %>
<% end %>
</td>
<td>
<ul>
<% status.issues.each do |issue| %>
<%= render("issue_#{issue.name}.erb", status, issue) %>
<% end %>
</ul>
</td>
</tr>
<% end %>

</table>
</center>
