<center>
<table class="wikitable" border="1" cellspacing="0" cellpadding="2" width="80%">
<tr style="background-color:#E9E9E9">
<th scope="col" width="2%">Ref
</th>
<th scope="col" width="35%">Relation
</th>
<th scope="col" width="43%">Bot report
</th>
</tr>

<% report.statuses.each do |status| %>
<%
  color = nil
  color = 'PaleGreen' if status.green?
  color = 'PaleGoldenrod' if status.get_issues(:WARNING).size > 0
  color = 'LightSalmon' if status.get_issues(:ERROR).size > 0
%>
<% if color %>
<tr style="background-color:<%= color %>">
<% else %>
<tr>
<% end %>
<td style="text-align: center">
{{cycleway|<%= status.entity.ref_number %>}}
</td>
<td><div style="color: #666666; font-size: smaller;">
<% if status.entity.relation %><b>Relation:</b> {{relation|<%= status.entity.relation.id %>}}<br><% end %>
<b>Ways:</b> all (<%= status.entity.num_all_ways %>), with ref tag (<%= status.entity.num_ref_ways %>), in relation (<%= status.entity.num_relation_ways %>)<% if !status.percent_with_lanes.nan? and !status.percent_with_maxspeed.nan? %>, with <i>lanes</i> (<%= status.percent_with_lanes.to_i %>%), with <i>maxspeed</i> (<%= status.percent_with_maxspeed.to_i %>%)<% end %><% if status.entity.relation and status.entity.relation.tags['note'] %><br><b>Note:</b> <%= status.entity.relation.tags['note'] %><% end %>
</div>
</td>
<td>
<ul>
<% status.issues.each do |issue| %>
<%= render_erb("issue_#{issue.name}.erb", country, report, status, issue) %>
<% end %>
</ul>
</td>
</tr>
<% end %>
</table>
</center>
